<h1>Here are all the readers in the <%=current_user.community.name%> communty:</h1>
<%Reader.all.each do |reader|%>
  <%if reader.community == current_user.community%>
    <a href='/readers/<%=reader.slug%>'><%=reader.name%></a><br>
  <%end%>
<%end%>
