
<h1>Welcome Back!</h1>

<form method='POST' action="/login">
  username:<input type='text' name='username' required><br>
  password:<input type='text' name='password' required><br><br>
  <input type='submit' value='login'>
</form>
