<h1> Sign Up! </h1>
<form method="POST" action='/signup'>
  name: <input type='text' name='name' required><br>
  email: <input type='text' name='email' required><br><br>
  username: <input type='text' name='username' required><br>
  password: <input type='password' name='password' required><br>
  <h3>Choose a community below:</h3>
      <%Community.all.each do |community|%>
         <input type='radio' name='community' value='<%=community.id%>'><%=community.name%>
      <%end%>
  <h3>Or a new community:</h3>
  Community name:<input type='text' name='new_community'><br><br>
  <input type='submit' value='signup'>
</form>
