<h1>Welcome to Community Book Share!</h1>

<form method='POST' action='/login'>
  <input type='submit' value='login'>
</form>

<form method ='POST' action ='/signup'>
  <input type='submit' value='signup'>
</form>
