<h1>Welcome to Community Book Share!</h1>

<form method='GET' action='/login'>
  <input type='submit' value='login'>
</form>

<form method ='GET' action ='/signup'>
  <input type='submit' value='signup'>
</form>
