
<img src="https://farm4.staticflickr.com/3879/14609973659_a5a83d6084_k.jpg" alt="books" style="width:800px;height:300px;">

<%= yield %>
<p>
<%if session[:id] != nil%>
  ----------------------------------<br>
  <a href='/readers'>readers</a>
  <a href='/readers/<%=Reader.find(session[:id]).slug%>'>profile</a>
  <a href='/books'>books</a>
  <a href='/books/new'>add a book</a>
  <a href='/readers/logout'>logout</a>
<%else%>
  if you don't have an accout, sing up!
  <form method ='GET' action ='/signup'>
    <input type='submit' value='signup'>
  </form>
<%end%>
</p>
